.container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 10%;
}
.title{
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 3%;
}
.about-text{
    padding: 5%;
    font-size: large;
    line-height: 1.8;
}